$purple: #633BBC;
$purple-lighter: #8257E5;
$purple-darker: #271A45;

$gradient-default: linear-gradient(167.96deg, $purple-lighter 0%, $purple-darker 100%);

$white: #FFFFFF;
$dark: #000000;

$dark-300: rgba($color: $dark, $alpha: .32);
$dark-800: rgba($color: $dark, $alpha: .80);
$dark-900: rgba($color: $dark, $alpha: .88);
$dark-600: rgba($color: $dark, $alpha: .64);