$font-family: 'Rubik', sans-serif;
$max-width: 347px;
$max-width-lg: 1090px;

$perspective-distance: 1000px;

$default-transition-time: .6s;
$secondary-transition-time: .3s;
$default-scale: scale(1.1);