$typography-airport: 500 40px/47px $font-family;
$body: 400 16px/20px $font-family;
$body-strong: 500 16px/20px $font-family;
$body-sm: 400 14px/17px $font-family;
$body-xs: 500 10px/12px $font-family;
$message: 400 14px/24px $font-family;
$heading-1: 500 20px/24px $font-family;